.wrapper {
    position: -webkit-sticky;
    position: sticky;
    top: 5px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #d7d6d6;
    width: 95%;
    border-radius: 20px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    margin: auto;
    z-index: 90;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;


    .left_side {

        margin-left: 40px;
        
        
        .calendarCurr {
            background-color: #eae6e6;
            padding: 5px 15px;
            border-radius: 30px;
            font-weight: 600;
            color: #333;
            letter-spacing: 1px;

            span {
                margin-left: 5px;
            }
        }
    }
    .right_side {
        display: flex;
        // margin-right: 10px;
    }
    
    .header_action_btn {
        position: relative;
        // float: right;
        font-size: 20px;
        line-height: 100%;
        display: inline-block;
        // padding: 8px;
        width: 33px;
        height: 33px;
        border-radius: 50%;
        color: #434445;
        background-color: #eae6e6;
        font-weight: 600;
        cursor: pointer;

        &.notify:hover {
            animation: shake 500ms ease-in;

        }
       
    }

    

    .header_action_btn+.header_action_btn {
        margin-left: 8px;

    }

    @keyframes shake {
        0% {rotate: 0deg}
        30% {rotate: 25deg}
        60% {rotate: -25deg}
        0% {rotate: 0deg}

    }
}


.header_cart-notice{
    width: 10px;
    height: 10px;
    position: absolute;
    // padding: 0px 7px;
    background-color: #fa5d6f;
    font-size: 0.9rem;
    color: var(--white-color);
    border-radius: 50%;
    top: 3px;
    right: 1px;
    font-size: 14px;
}

.notify_admin {
    padding: 10px 0px;
    width: 360px;
   
    .notify_item+.notify_item {
        border-top: 0.7px solid #d6d3d3;

    }

    .notify_item {
        padding: 15px;

        &>div {
            display:flex;
            justify-content: space-between;
            p {
                font-size: 14px;
            }
        }

        h3 {
            text-transform: capitalize;
            color: #626161;
            font-weight: 700;
        }
        p {
            color:#646464
        }

        &:hover {
            background-color: #e2e1e1;
        }
    }
}

.alert-chat.avatar_admin {
    background-color: rgb(187, 136, 201);
    color: #fff
}


.shape_Tippy {
    background-color: #fff;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    border-radius: 10px;
    padding: 10px 0px;
}

.menu_avatar {
   
    width: 170px;
    font-size: 17px;
    ul {

        li {
            padding: 6px 15px;

            &:hover {
                background-color: #bcbaba;
                cursor: pointer;
            }
        }
    }

    .logout_icon {
        margin-left: 20px;
    }
}




// tablet
@media only screen and (min-width: 46.25em) and (max-width: 78.25em){


}

// mobile
@media only screen and (max-width:46.1875em){
    .wrapper {
        // width: 100vh;

    }

    .left_side {
        .calendarCurr {
            font-size: 13px;
        }
    }

}

