.wrapper {
    position: -webkit-sticky;
    position: sticky;
    top: 5px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #d7d6d6;
    width: 95%;
    border-radius: 20px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    margin: auto;
    z-index: 90;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;


    .left_side {

        margin-left: 40px;
        
        
        .calendarCurr {
            background-color: #eae6e6;
            padding: 5px 15px;
            border-radius: 30px;
            font-weight: 600;
            color: #333;
            letter-spacing: 1px;

            span {
                margin-left: 5px;
            }
        }
    }
    .right_side {
        display: flex;
        // margin-right: 10px;
    }
    
    .header_action_btn {
        // float: right;
        font-size: 20px;
        line-height: 100%;
        display: inline-block;
        padding: 8px;
        border-radius: 50%;
        color: #434445;
        background-color: #eae6e6;
        font-weight: 600;
        cursor: pointer;

        &.notify:hover {
            animation: shake 500ms ease-in;

        }
       
    }

    

    .header_action_btn+.header_action_btn {
        margin-left: 8px;

    }

    @keyframes shake {
        0% {rotate: 0deg}
        30% {rotate: 25deg}
        60% {rotate: -25deg}
        0% {rotate: 0deg}

    }
}

.alert-chat.avatar_admin {
    background-color: rgb(187, 136, 201);
    color: #fff
}


.menu_avatar {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width: 170px;
    font-size: 17px;
    ul {

        li {
            padding: 6px 15px;

            &:hover {
                background-color: #bcbaba;
                cursor: pointer;
            }
        }
    }

    .logout_icon {
        margin-left: 20px;
    }
}




// tablet
@media only screen and (min-width: 46.25em) and (max-width: 78.25em){


}

// mobile
@media only screen and (max-width:46.1875em){
    .wrapper {
        // width: 100vh;

    }

    .left_side {
        .calendarCurr {
            font-size: 13px;
        }
    }

}

