.wrapper {
    padding: 30px;

    h1 {
        margin: 20px 0;
        text-transform: capitalize;
        color: #878787;
    }
}

.table_accounts {
    overflow-x: scroll;
}

.role {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 15px;
    font-weight: 600;


    &.i {
        background-color: rgb(249, 193, 140);
    }
    &.ii {
        background-color: rgb(255, 199, 199);
    }
    &.iii {
        background-color: rgb(185, 227, 195);
    }

}

.fullName {
    width: 180px;
}

.status_btn {
    border: 1px solid #bebbbb;
    margin: 0 10px;
    width: 70px;
    display: flex;
    padding: 4px 8px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;

    &:hover {
        opacity: 0.8;
    }
    &:active {
        opacity: 0.9;
    }

    &.lock {
        background-color: rgb(230, 145, 114);
        color: #fff;
    }
    &.unlock {
        background-color: rgb(146, 202, 150);
        color: #fff;

    }
}


.info_btn {
    cursor: pointer;
    // font-size: 18px;
    color: #444444;

    &:hover {
        background-color: rgb(248, 247, 193);
    }


    p {
        text-align: center;
        margin: 0;

       
    }
}


// MODAL

.body_modal {
    padding: 5px 20px;


    .user_info {
        font-size: 18px;
        margin-bottom: 20px;

        p {
            margin: 0;
            margin-bottom: 10px;
            color: #626161;
            


            span {
                color: #333;
                display: inline-block;
                text-transform: capitalize;
                width: 100px;
                // margin-right: ;

            }
            input[type=text], input[type=date], input[type=password] {
                margin-left: 10px;
                border-bottom: 0.5px solid #d1d1d1;
            }

            input[type=radio] {
                margin-left: 10px;
            }

            // &+p {
            //     margin-top: 6px;
            // }
        }
    }

    
}

.close_btn {
    display: inline-block;
    padding: 7px 25px;
    border-radius: 10px;
    background-color: #444444;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    
    
}

@mixin btn_action {
    &:hover {
        opacity: 0.8;
    }
    &:active {
        opacity: 0.9;
    }
}

.update_infor_btn {
    margin-top: 15px;
    background-color: rgb(242, 125, 125);
    border-radius: 7px;
    color: #fff;
    padding: 5px 20px;

    @include btn_action;
}

.send_code_btn {
    background-color: rgb(125, 88, 125);
    padding: 2px 5px;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    margin-left: 10px;

    @include btn_action;

}

.notMatch_passW_mess {
    font-size: 14px;
    color: rgb(246, 124, 124) !important;
}



 /* Tablet: width >= 740px and width width < 1024px */
 @media only screen and (min-width: 46.25em) and (max-width: 78.25em){



 }

 
/* Mobile: width < 740px */
@media only screen and (max-width:46.1875em){
    .body_modal {
        padding: 0;
    }
}