@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,400&family=IBM+Plex+Sans+Condensed:wght@100;400;500;600&family=Kanit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300;1,400;1,500;1,600;1,700;1,800&family=Paytone+One&family=Poppins:wght@200;300&family=Roboto:ital,wght@0,300;0,400;1,300;1,400&family=Xanh+Mono:ital@0;1&display=swap');

// @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,400&family=IBM+Plex+Sans+Condensed:wght@100;400;500;600&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300;1,400;1,500;1,600;1,700;1,800&family=Paytone+One&family=Poppins:wght@200;300&family=Roboto:ital,wght@0,300;0,400;1,300;1,400&family=Xanh+Mono:ital@0;1&display=swap');

:root {
    --default-layout-header-height: 60px;
    --default-layout-width: 1200px;
}

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;

}

button {
    // prevent select
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}



.btn_size{
    display: inline-block;
    // height: 50px;
    font-size: 25px;
    border-radius: 14px;  
    font-size: 21px;
    margin: 5px 7px;
    padding: 10px;
    background-color: rgb(230, 223, 218);

    cursor: pointer;

    &:hover {
        opacity: 0.6;
    }
}

.backGround_item {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;

    cursor: pointer;
  
    margin: 3px 3px;
    
    &:hover {
        outline: 3px solid rgb(255, 255, 255);
    }

}


.color_df {
    display: inline-block;
    background-color: rgb(197, 197, 197);
}

.color_1 {
    display: inline-block;
    background-color: rgb(195, 242, 226);
}
.color_2 {
    display: inline-block;
    background-color: rgb(163, 241, 247);
}
.color_3 {
    display: inline-block;
    background-color: rgb(149, 236, 184);

}
.color_4 {
    display: inline-block;
    background-color: rgb(226, 179, 208);
}
.color_5 {
    display: inline-block;
    background-color: rgb(245, 192, 188);
}
.color_6 {
    display: inline-block;
    background-color: rgb(229, 208, 233);

}
.color_7 {
    display: inline-block;
    background-color: rgb(195, 212, 250);

}
.color_8 {
    display: inline-block;
    background-color: rgb(252, 161, 119);
}
.color_9 {
    display: inline-block;
    background-color: rgb(238, 242, 162);
}
.color_10 {
    display: inline-block;
    background-color: rgb(246, 117, 100);
}
.color_11 {
    display: inline-block;
    background-color: rgb(69, 69, 69);
}
.color_12 {
    display: inline-block;
    background-color: rgb(154, 152, 151);
}
.color_13 {
    display: inline-block;
    background-color: rgb(243, 156, 175);
}
.color_14 {
    display: inline-block;
    background-color: rgb(248, 123, 150);
}
.color_15 {
    display: inline-block;
    background-color: rgb(144, 167, 150);
}
.color_16 {
    display: inline-block;
    background-color: rgb(216, 208, 181);
}

// 
.color_17 {
    display: inline-block;
    background-color: rgb(255, 139, 94);
}
.color_18 {
    display: inline-block;
    background-color: rgb(243, 206, 221);
}
.color_19 {
    display: inline-block;
    background-color: rgb(184, 238, 234);
}
.color_20 {
    display: inline-block;
    background-color: rgb(134, 176, 239);
}
.color_21 {
    display: inline-block;
    background-color: rgb(241, 248, 172);
}
.color_22 {
    display: inline-block;
    background-color: rgb(146, 245, 151);
}
.color_23 {
    display: inline-block;
    background-color: rgb(190, 206, 190);
}
.color_24 {
    display: inline-block;
    background-color: rgb(228, 184, 148);
}
.color_25 {
    display: inline-block;
    background-color: rgb(174, 135, 103);
}
.color_26 {
    display: inline-block;
    background-color: rgb(119, 90, 67);
}
.color_27 {
    display: inline-block;
    background-color: rgb(247, 106, 106);
}
.color_28 {
    display: inline-block;
    background-color: rgb(220, 143, 143);
}
.color_29 {
    display: inline-block;
    background-color: rgb(235, 235, 235);
}
.color_30 {
    display: inline-block;
    background-color: rgb(104, 102, 102);
}
