.wrapper {
    // padding: 50px;
    background-color: #fff;
    padding: 30px;
    width: 700px;
}

.infor {
    padding: 20px 0;
    border-top: 1px solid #e8e4e4;
    display: flex;
}

.custom_ava {
    width: 400px;
    height: 500px;
    
}

.input_update {
    margin-bottom: 25px;

    input {
        margin-left: 20px;
        border-bottom: 1px solid #cacaca;
    }
    .valueClkToChange {
        margin-left: 20px;

    }


    label {
        width: 150px;
        text-align: end;
    }

    .label_gender {
        width: 40px;

    }

    .changeInfor_btn {
        display: inline-block;
        background-color: transparent;
        margin-left: 20px;
        color: rgb(44, 176, 202);
        cursor: pointer;
        text-decoration: underline;
        text-transform: capitalize;
        &:hover {
            opacity: 0.8;
        }
        &:active {
            opacity: 0.9;
        }

    }
}

.btn_save {
    padding: 10px 0;
    width: 150px;
    background-color: rgb(255, 137, 137);
    display: inline-block;
    border-radius: 15px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    
    &:hover {
        opacity: 0.8;
    }
    &:active {
        opacity: 0.9;

    }
}


.changePass_modal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.changePass_modal_title {
    text-align: center;
    color: #595858;
}

.send_code_btn {
    background-color: rgb(80, 80, 80);
    padding: 2px 5px;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    margin-left: 10px;

    &:hover {
        opacity: 0.8;
    }
    &:active {
        opacity: 0.9;
    }
}

.notMatch_passW_mess {
    font-size: 16px;
    color: rgb(246, 124, 124) !important;
}

.input_infor {
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
    font-size: 17px;
    margin-bottom: 10px;
    label {
        width: 130px;
        text-transform: capitalize;
        cursor: pointer;
    }
    span {
        margin-right: 7px;
    }
    input {
        border: 1px solid rgb(124, 124, 124);
        width: 400px;
        border-radius: 5px ;
        height: 40px;

        &:focus {
            border-color: rgb(249, 188, 188) !important;
        }
    }


    .err_messagge {
        position: absolute;
        left: 154px;
        color:rgb(245, 172, 172);
    }

    .select_address {
        width: 400px;
        height: 40px;
        margin-right: 8px;
        border-radius: 5px;
        outline: none;
        padding: 4px 2px;
        cursor: pointer;
        border-color: #cdcdcd;
     
    }

    .input-add-address {
        padding-left: 4px;
        padding-right: 4px;
        borderColor: #cdcdcd;
    }

         
.loading1 {
    position: absolute;
    left: 64%;
    top: 38px;
    height: 24px;
    color: #8c8c8c;
   animation: spinner 1s linear infinite;
}

.loading2 {
    position: absolute;
    left: 64%;
    top: 10px;
    height: 24px;
    color: #8c8c8c;
   animation: spinner 1s linear infinite;
}
  
@keyframes spinner{
 from {
    transform: rotate(0);
 }

  to {
    transform: rotate(360deg);

  }
}
}

@media only screen and (max-width:46.1875em){
    .wrapper {
        width: 100%;
        padding: 4px 4px;
        margin: 0;
    }
    .input_infor {
        display: flex;
        flex-direction: column;
        gap: 12px;
        position: relative;
        font-size: 17px;
        margin-bottom: 10px;
        width: 290px;
        label {
            width: 130px;
            text-transform: capitalize;
            cursor: pointer;
        }
        span {
            margin-right: 7px;
        }
        input {
            border: 1px solid rgb(124, 124, 124);
            width: 400px;
            border-radius: 5px ;
            height: 40px;
            width: 260px;
            &:focus {
                border-color: rgb(249, 188, 188) !important;
            }
        }

    
        .err_messagge {
            position: absolute;
            left: 154px;
            color:rgb(245, 172, 172);
        }
    
        .select_address {
            width: 400px;
            height: 40px;
            margin-right: 8px;
            border-radius: 5px;
            outline: none;
            padding: 4px 2px;
            cursor: pointer;
            border-color: #cdcdcd;
            width: 100%;
         
        }
    
        .input-add-address {
            padding-left: 4px;
            padding-right: 4px;
            borderColor: #cdcdcd;
        }
    
             
    .loading1 {
        position: absolute;
         left: 93%;
       
        top: 38px;
        height: 24px;
        color: #8c8c8c;
       animation: spinner 1s linear infinite;
    }
    
    .loading2 {
        position: absolute;
        left: 93%;
        top: 10px;
        height: 24px;
        color: #8c8c8c;
       animation: spinner 1s linear infinite;
    }
      
    @keyframes spinner{
     from {
        transform: rotate(0);
     }
    
      to {
        transform: rotate(360deg);
    
      }
    }
    }
}

