.wrapper {
    .navigate {
        position: sticky;
        top: 56px;
        margin-bottom: 17px;
        display: flex;
        justify-content: center;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        border-radius: 8px;

        li {
            text-transform: capitalize;
            width: 175px;
            text-align: center;
            border-bottom: 2px solid transparent;
            padding: 9px 0;
            user-select: none; /* supported by Chrome and Opera */
            &:hover {
                border-color: rgb(242, 127, 127);
                cursor: pointer;

            }
        }

        .li_active {
            border-color: rgb(242, 127, 127);

        }
    }
}

.bill {
    .order {
        margin-bottom: 13px;
        background-color: #fff;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        .mess_status {
            // text-align: end;
            .status1 {
                color: rgb(99, 188, 154);
            }
            .status2 {
                color: rgb(233, 151, 59);
            }
        }


        

        .footer_bill {
            border-top: 1px solid #a1a1a1;
            padding-top: 20px;
            display: flex;
            justify-content: space-between;
            background-color: #fefcf7;;
            

            .total {


                span {
                    color: rgb(253, 117, 83);
                }

                
            }

           
        }
       
    }


    .footer_bill {
        padding: 20px;
    }
    .body_bill {
        padding: 0 20px;

    }
    .header_bill {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        padding-bottom: 0;
        border-bottom: 1px solid #d6d6d6;
    }

}


.card_order {

    
    padding: 10px 0;

    .infor_product {
        display: flex;

        img {
            width: 100px;
            margin-right: 20px;
            object-fit: contain;
        }

        .infor_detail {
            flex: 1;

            &>p {
                text-align: end;
            }
            .size_price {
                display: flex;
                justify-content: space-between;
            }

           
        }

        .size {
            display: inline;
            border-radius: 6px;
            padding:3px 7px;
            background-color: #333;
            color: #fff;
        }
    }

    &+& {
        border-top: 1px solid #e7e7e7;
    }
}



// <button class="" role="button">Button 74</button>

/* CSS */
.button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  padding: 0 18px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.empty_order {
    padding: 20px 0;
    text-align: center;
    color: #737373;
    h1 {
        font-size: 30px;
    }
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

// RATING

// color: rgb(242, 230, 69);



.rating_wrapper {
    display: flex;
    align-items: center;
    justify-content: end;

    .rating_send_btn {
        margin-left: 30px;
        padding: 3px 10px;
        color: #333;
        border-radius: 10px;
        border: 2px solid #d9c4c4;
        background-color: #f9d1d1;
        color: #5b5b5b;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 1px;

        &:hover {
            background-color: #f4d4d4;
        }
        &:active {
            opacity: 0.8;
        }
    }
}

.stars {


    .star {
        cursor: pointer;
        color: #8e8e8e;
       
    }
    .star+.star {
        margin-left: 5px;

    }

    .check {
        color: rgb(232, 218, 27);
    }
}


.shoe_price_old {
    font-size: 15px;
    text-decoration: line-through;
    color: #6b6a6a;
    margin-right: 5px;
}
.shoe_price {
    font-size: 18px;
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}


/* Tablet-specific styles */
@media only screen and (min-width: 46.1875em) and (max-width: 63.9375em) {
    .wrapper {
        .navigate {

            li {
                width: 100px;
            }
        }
    }
}
  
@media only screen and (max-width: 46.1875em) {
    .wrapper {
        .navigate {
            padding: 5px 2px;
            li {
                width: auto;
                padding: 0 10px;
                font-size: 14px;
            }
        }
    }

        
    .card_order {

        
        padding: 10px 0;

        .infor_product {

            img {
                width: 100px;
                margin-right: 10px;
            }

            .infor_detail {
                .size_price {
                    display: flex;
                    flex-direction: column;
                    align-items: end;
                }

            
            }

            .size {
            
            }
        }

    }

    
    .bill {

        .header_bill {
            padding: 10px;
            font-size: 14px;

            p {
                margin: 0;
            }

        }
        .body_bill {
            padding: 0 13px;

            p {

            }
        }
    }

        
    .rating_wrapper {
       


        .rating_send_btn {
            margin-left: 5px;
            padding: 2px 5px;
        }
    }


    .stars {
        font-size: 14px;
    }


}


// IPHONE SE
@media only screen and (max-width: 375px) {
    .wrapper {
        width: 345px;
        .navigate {
            li {
                width: 70px;
                padding: 0 3px;
                font-size: 14px;
            }
        }
    }
}