.wrapper {
    padding: 20px 50px;
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
    background-color: #edebeb;
}

.sideBar {
    background-color: #fff;
    border-radius: 20px;
    padding: 15px 30px;
    height: fit-content;
    margin-left: 10px;
    width: max-content;

    ul {

        li {
            text-transform: capitalize;
            padding: 8px 0;

            &:hover a{
                
                color: rgb(255, 134, 134);
            }

            span {
                display: inline-block;
                width: 30px;
            }

           
        }
        li+li {
            border-top: 1px solid #dedede;
        }
    }
}





/* Tablet-specific styles */
@media only screen and (min-width: 46.1875em) and (max-width: 63.9375em) {
    .sideBar {
        display: none;
    }
}
  
@media only screen and (max-width: 46.1875em) {
    .sideBar {
        display: none;
    }
    .wrapper {
        padding: 15px 15px;
        
    }
}