.wrapper {
    margin: 30px;
    // width: 700px;
}

.heading_dashboard {
    h1 {
        text-transform: uppercase;
        margin-bottom: 20px;
        font-size: 35px;

        select {
            border: none;
            color: #f48549;
            margin-left: 5px;
            padding: 5px;
            cursor: pointer;

            option {
                color: #333;
                font-size: 20px;

            }

            &:focus-visible {
                outline: none;
            }
        }

    }
}

.overView {
    display: flex;
    margin-bottom: 20px;
    // min-width: 680px;
    overflow-x: scroll;

    .color1 {
        background-color: #d8e8ee;
    }
    .color2 {
        background-color: #d4e892;
    }
    .color3 {
        background-color: #dcd0ed;
    }
    .color4 {
        background-color: #b7e3f6;
    }
}

.item_sumary {
    background-color: coral;
    border-radius: 15px;
    // width: 150px;
    // width: 25%;
    width: 170px;
    min-width: 133px;
    // height: 100px;
    padding: 15px;
    margin: 0 5px;
    margin-bottom: 8px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    

    .item_header {
        display: flex;
        justify-content: space-between;
        color: #4c4c4c;
        margin-bottom: 3px;
        text-transform: capitalize;
    
        .icon {
            background-color: #ffffff83;
            width: 32px;
            padding: 4px 0;
            border-radius: 10px;
        }
    }


}


.title_content {
    margin-bottom: 15px;
    font-size: 25px;
    color:#686868;
    text-transform: uppercase;
}

.top_prod_brand {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.doughnut {
    // width: 500px;
    width: 45%;
    .test_dono {
        width: 100px;
        height: 100px;

        &.color_d_1 {
            background-color: rgb(211, 250, 250);
        }
        &.color_d_2 {
            background-color: rgb(206, 235, 201);
        }
        &.color_d_3 {
            background-color: rgb(231, 209, 242);
        }
        &.color_d_4 {
            background-color: rgb(253, 227, 211);
        }
        &.color_d_5 {
            background-color: rgb(249, 231, 243);
        }
        &.color_d_6 {
            background-color: rgb(208, 199, 250);
        }
    }
}


.hot_products {
    width: 45%;

    .prod {
        display: flex;
        align-items: center;
        box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;

        img {
            width: 170px;
        }

        .prod_infor {
            padding: 5px 10px;
        }
    }
}

// tablet
@media only screen and (min-width: 46.25em) and (max-width: 78.25em){
   
   
}

// mobile
@media only screen and (max-width:46.1875em){
   
    .wrapper {
        margin: 10px;
    }

    .top_prod_brand {
        flex-direction: column;
    }

    .doughnut {
        width: 100%;
    }
    .hot_products {
        width: 100%;
        margin-top: 20px;
    }

}