.wrapper {
    position: relative;
    display: inline-flex;
    background-color: #f0f0f0;
    align-items: center;
    border-radius: 30px;
    font-weight: 600;
    max-width: 500px;
    width: 40%;
    min-width: 100px;

    padding-left: 15px ;

    &.wrapper_focus {
        outline: 2px rgb(240, 154, 154) solid;
    }

    input {
        background-color: transparent;
        padding: 7px 0;
        flex: 1;

    }

}

.result {
    position: absolute;
    left: 0;
    margin-top: 5px;
    top: 100%;
    background-color: #fafafa;
    z-index: 100;
    padding: 15px 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    max-height: 500px;
    width: 100%;
    // max-width: 500px;
    overflow-y: scroll;


    // kết quả k trả về
    div {
        padding: 10px 0;
        text-align: center;        
    }

}

.search_icon {
    margin-right: 7px;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;

    &:hover {
        background-color: #333;
        color: #fff;
    }

}

.link_item {
    display: block;

    &+& {
        border-top: 1px solid #d7d4d4;
    }
}

.wrapper_item {
    display: flex;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;

    // border-top: 1px solid #333;


    img {
        width: 100px;
        margin-right: 10px;
    }

    p {
        font-size: 17px;
        font-weight: 500;
    }


    &:hover {
        background-color: #e3e0e0;
    }
}

// mobile
@media only screen and (max-width:46.1875em){
    .wrapper {
        width: 100%;
    }


}