.img_product {
    margin: 10px;
    height: 307px;
    width: 307px;
    object-fit: cover;
    border-radius: 42px;
}

// tablet
@media only screen and (min-width: 46.25em) and (max-width: 78.25em){
    .img_product {
        height: 212px;
        width: 175px;
    }

}

@media only screen and (max-width:46.1875em){
 
    .img_product {
        height: 195px;
        width: 165px;
       
    }
}
