.wrapper {
   display: flex;
   position: relative;
   min-height: 100vh;

   .logo {
        margin: 10px 20px;
        font-size: 45px;
        font-weight: 600;
        letter-spacing: 2px;

        .L_1 {
            color: rgb(223, 95, 70)
        }
        .L_2 {
            color: rgb(80, 161, 140)
        }
        .L_3 {
            color: rgb(127, 131, 251)
        }
        .L_4 {
            color: rgb(103, 103, 99)
        }
   }
}

.timer {
    color: #333;
    position: absolute;
    margin-left: 7px;
    left: 100%
}

.leftSide {
    
    width: 50%;
}

.rightSide {
    background-color: #333;
    width: 50%;
    
    background-image: url("WallpaperDog-20517606.png");
    background-size: cover;
    
    .img_bg {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
}

.sign_in {
    width: 100%;
    display: flex;
    background-color: #fff;
    padding: 10px 0;


    h1 {
       
    }
}

.option_signIn {
    display: flex;
    flex-direction: row;
    color: #878585;
    font-size: 17px;
    margin-top: 10px;
}
.option_signIn:before, .option_signIn:after{
content: "";
flex: 1 1;
border-bottom: 1px solid;
margin: auto;
}
.option_signIn:before {
margin-right: 10px
}
.option_signIn:after {
margin-left: 10px
}

.sign_up {
    background-color: #fff;
    // padding: 10px 0;
    h1 {
        font-size: 25px;
        margin-bottom: 15px;
    }

    .mess_passW {
        color: rgb(229, 90, 90);
    
        p {
            margin: 0;
        }
    }

}

.gender_com {
    input {
        margin-right: 7px;
        margin-left: 6px;

    }
    label {
        cursor: pointer;
    }
}

.forgot_password {
    padding: 10px;

    h1 {
        font-size: 25px;
        margin-bottom: 20px;
    }

    .inputField {
        label {
            width: 100px;
        }
    }

}

.form {
    margin: auto;
    padding: 10px 0;
    width: 60%;
    display: flex;
    flex-direction: column;
    // align-items: center;
    // width: 50%;
    // font-size: 18px;

    .title {

        h1 {
            font-size: 70px;
            text-transform: capitalize;
            font-weight: 600;
            letter-spacing: 2px;

        }
        margin-bottom: 30px;

    }




    
.inputField {
    position: relative;
    color: #333;
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    // margin: 10px 0;

    

    .label {
        display: inline-block;
        width: 88px;

        &.err {
            color: rgb(251, 79, 79);
        }
    }

    label {
        // min-width: 140px;
    }
    
    .sendCode_email_btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        background-color: #333;
        padding: 3px 8px;
        border-radius: 7px;
        text-transform: capitalize;
        color: #fff;
        font-size: 14px;
    }

    .comfirm_email_btn {
        display: inline-block;
        background-color: #525252;
        padding: 8px 15px;
        border-radius: 5px;
        margin-left: 5px;
        color: #fff;

        &:hover {
            opacity: 0.9;
        }
        &:active {
            opacity: 0.8;
        }
    }
   

    .err_mess {
        position: absolute;
        top: 4px;
        right: 6px;
        color:rgb(223, 95, 70);
        margin: 0;
        font-size: 15px;
    }

    input {
        cursor: pointer;
        width: auto;
        // margin-bottom: 18px;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"]
    {
        width: 100%;
        flex: 1;
        padding: 10px;
        border-radius: 10px;
        border: 2px #d2d1d1 solid;
        // text-transform: capitalize;

        &:focus {
            border-color: rgb(197, 129, 157);
        }
    }
}



    
   

    .signUpAndForget {
        display: inline-block;
        margin-left: auto;
        text-transform: capitalize;

        .signUp_btn {
            color: rgb(8, 164, 184);
            border-right: 2px solid #b3b3b3;
            &:hover {
                opacity: 0.8;
            }
        }

        a {
            padding: 0 10px;
            display: inline-block;
        }

       
    }


    ::-webkit-input-placeholder { /* Edge */
        text-transform: capitalize;
      }
      
      :-ms-input-placeholder { /* Internet Explorer */
        text-transform: capitalize;
      }
      
      ::placeholder {
        text-transform: capitalize;
      }



    

    .signIn_btn {
        display: inline-block;
        width: 100%;
        background-color: #333;
        padding: 10px 0;
        border-radius: 20px;
        color: #fff;
        text-transform: uppercase;
        font-size: 17px;
        margin-top: 15px;
        text-align: center;

        &:hover {
            opacity: 0.8;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        }
        &:active {
            opacity: 0.7;
        }
    }
    .other {
        background-color: transparent;
        // outline: 2px solid #848383;
        box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
        color: #333;
        img {
            width: 17px;
            margin-right: 5px;
        }
    }

    
             
    .to_Shop {
        background-image: linear-gradient(to right, #BE93C5 0%, #7BC6CC  51%, #BE93C5  100%);
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;            
        box-shadow: 0 0 20px #eee;
        display: block;
      }

    .to_Shop:hover {
        background-position: right center; /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
    }
     

}

.loadding_signIn {
    // margin-top: 30px;
    // display: flex;
    // justify-content: center;

    position: absolute;
    top: 25%;
    left: 5%;

}


// tablet
@media only screen and (min-width: 46.25em) and (max-width: 78.25em){
    

}

// mobile
@media only screen and (max-width:46.1875em){
    // .wrapper {
    //     height: 100vh;
    // }
   .leftSide {
    position: absolute;
        width: 85%;
        left: 50%;
        transform: translateX(-50%);
   }

   

    .rightSide {
        width: 100%;
   }

   .form {
        width: 90%;

        .title {
            margin-bottom: 15px;

            h1 {
                font-size:  40px;
            }
        }

        .inputField {
            margin-bottom: 11px;
       }
   }

   .wrapper {
       .logo {
        font-size: 30px;
        margin: 5px;
       }

   }

   .forgot_password {
        background-color: #fff;
    } 

   

}