html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;

}



.input_textarea {
    resize:both;
    font-size: 17px;
    padding: 10px;
    width: 100%;
    min-height: 180px;
}


button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


//--------------- 



.wrapper {
    margin: 0 40px;

    &.add_product {
        display: flex;
        justify-content: center;

    }
}



.line-vertical {
    width: 2px;
    background-color: rgb(114, 114, 114);
    margin: 0 40px;
}

.left_side {
    max-width: 500px;
    // min-width: 200px;

}

.backGround_color_imgMain {
    overflow-x: auto;
    width: 100%;
    padding: 15px;

    
    background-color: rgb(85, 84, 84);

    margin-bottom: 10px;
    border-radius: 10px;

    .backGround_list {
        width: 100%;
        text-align: center;
    }

    

    
}

.product_img {
    position: relative;

    // max-width: 500px;
    width: 100%;
    height: 500px;
    border-radius: 30px;


    .errFile_img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 900%;
        opacity: 0.3;
    }
  
    
}

// .color_df {
//     margin: 0 10px;
//     display: inline-block;
//     background-color: rgb(197, 197, 197);
// }

// .color_1 {
//     margin: 0 10px;
//     display: inline-block;
//     background-color: rgb(195, 242, 226);
// }
// .color_2 {
//     margin: 0 10px;
//     display: inline-block;
//     background-color: rgb(163, 241, 247);
// }
// .color_3 {
//     margin: 0 10px;
//     display: inline-block;
//     background-color: rgb(149, 236, 184);

// }
// .color_4 {
//     margin: 0 10px;
//     display: inline-block;
//     background-color: rgb(226, 179, 208);
// }
// .color_5 {
//     margin: 0 10px;
//     display: inline-block;
//     background-color: rgb(245, 192, 188);
// }
// .color_6 {
//     margin: 0 10px;
//     display: inline-block;
//     background-color: rgb(229, 208, 233);

// }
// .color_7 {
//     margin: 0 10px;
//     display: inline-block;
//     background-color: rgb(195, 212, 250);

// }
// .color_8 {
//     margin: 0 10px;
//     display: inline-block;
//     background-color: rgb(252, 161, 119);
// }
// .color_9 {
//     margin: 0 10px;
//     display: inline-block;
//     background-color: rgb(238, 242, 162);
// }
// .color_10 {
//     margin: 0 10px;
//     display: inline-block;
//     background-color: rgb(246, 117, 100);
// }
// .color_11 {
//     margin: 0 10px;
//     display: inline-block;
//     background-color: rgb(69, 69, 69);
// }
// .color_12 {
//     margin: 0 10px;
//     display: inline-block;
//     background-color: rgb(154, 152, 151);
// }
// .color_13 {
//     margin: 0 10px;
//     display: inline-block;
//     background-color: rgb(243, 156, 175);
// }
// .color_14 {
//     margin: 0 10px;
//     display: inline-block;
//     background-color: rgb(248, 123, 150);
// }
// .color_15 {
//     margin: 0 10px;
//     display: inline-block;
//     background-color: rgb(144, 167, 150);
// }
// .color_16 {
//     margin: 0 10px;
//     display: inline-block;
//     background-color: rgb(216, 208, 181);
// }

// // 
// .color_17 {
//     margin: 0 10px;
//     display: inline-block;
//     background-color: rgb(255, 139, 94);
// }
// .color_18 {
//     margin: 0 10px;
//     display: inline-block;
//     background-color: rgb(243, 206, 221);
// }
// .color_19 {
//     margin: 0 10px;
//     display: inline-block;
//     background-color: rgb(184, 238, 234);
// }
// .color_20 {
//     margin: 0 10px;
//     display: inline-block;
//     background-color: rgb(134, 176, 239);
// }
// .color_21 {
//     margin: 0 10px;
//     display: inline-block;
//     background-color: rgb(241, 248, 172);
// }
// .color_22 {
//     margin: 0 10px;
//     display: inline-block;
//     background-color: rgb(146, 245, 151);
// }





.img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    // width: 350px;
    // height: 194px;
    width: 70%;
    height: 70%;
    display: inline-block;

    object-fit: cover;
    // transform: rotate(-35deg);
    transition: 0.4s ease;
    filter: drop-shadow(10px 15px 30px rgba(68, 68, 68, 0.892));

    // object-position: 0 62%;
}

.product_img--sub {
    margin-top: 8px;
    // width: 500px;
    width: 100%;

    
    .img_sub {
        position: relative;
        display: inline-block;

        width: 33%;
        height: 143px;

        button {
            position: absolute;
            top: 8px;
            right: 8px;
            font-size: 15px;
            background-color: #333;
            color:#fff;
            padding: 1px 8px;
            border-radius: 50%;

            &:hover {
                background-color: rgb(255, 114, 114);

            }
            cursor: pointer;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}



.input_product {
    margin-bottom: 20px;
    position: relative;

    .label-product {
        display: inline-block;
        width: 119px;
        text-transform: capitalize;
        font-size: 19px;
        font-weight: 600;
    }

    input {
        font-size: 18px;
        border: none;
        outline: none;
        border-bottom: 1px solid #333;
        width: 100%;
        color: #656464;
        
    }

    select {
        font-size: 17px;
        outline: none;
        border: none;
        padding: 5px;
        text-transform: capitalize;
        width: 130px;
        
    }
    .message_err {
        position: absolute;
        top: 100%;
        left: 0;
        display: inline-block;
        color: rgb(248, 118, 118);
    }
}
.delPrice_btn {
    position: absolute;
    right: 0;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }

}



.right_side {
    // margin-left: 80px;
}

.add_imgSub_btn-off {
    display: none;
}
.add_btn-on {
    display: inline-block;
    
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

.img_sub__add {
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 10px;
    margin-top: 5px;
    background-color: rgb(110, 110, 110);
    color: rgb(255, 255, 255);

}
.img_main__add {
    position: absolute;
    font-size: 35px;
    right: 15px;
    top:10px;
}



.button-54 {
  font-family: "Open Sans", sans-serif;
//   width: 150px;
  width: 100%;
  font-size: 18px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}


// MODIFY PRODUCTS

.filter_btn, .removeDiscount_btn {
    margin-left: 20px;
    display: inline-block;
    background-color: #e9b571;
    color: rgb(72, 72, 72);
    border-radius: 5px;
    height: 47px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0 20px;

    span {
        margin-right: 10px;
    }

    &:hover {
        background-color: rgb(215, 193, 165);
    }
    &:active {
        opacity: 0.9;
    }

}

// TABLE
// 

.tdClass_BCcolor {
    vertical-align: middle;
    text-align: center;
    span {
        display: inline-block;
        width: 40px;
        height: 40px;
        border: 2px solid rgb(68, 68, 68);
        border-radius: 10px;
    }
}

.discount_tag {
    display: inline-block;
    padding: 2px 0;
    border-radius: 8px;
    width: 36px;
    text-align: center;
    background-color: rgb(43, 178, 43);
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;


}

.non_discount_tag {
    display: inline-block;
    font-size: 20px;
    color: rgb(255, 111, 0);
}

.btn_modify {
    font-size: 20px;
    cursor: pointer;
    vertical-align:middle;
    text-align: center;
    padding: 0 10px;

     // prevent select
     -webkit-user-select: none; /* Safari */
     -ms-user-select: none; /* IE 10 and IE 11 */
     user-select: none; /* Standard syntax */

    &:active {
        background-color: rgb(200, 198, 198);
    }

    &.del {
        color: rgb(233, 86, 86);
        &:hover {
            color: #333;
            background-color: rgb(241, 141, 141);
        }
    }

    &.upd {
        color: rgb(97, 132, 100);
        &:hover {
            color: #333;
            background-color: rgb(190, 245, 195);
        }
    }

    svg:active {
        background-color: transparent;
    }
    
}

.filter_wrapper {

    .filter_option+.filter_option {
        border-top: 1px solid rgb(223, 219, 219);
    }

    .filter_option {
        margin-bottom: 5px;
        padding:10px;
        
        p {
            margin-bottom: 5px;
            font-weight: 600;
        }

        &.prod_name input {
            width: 100%;
        }

        & ul {
            display: flex;
            flex-wrap: wrap;

            li {
                width: 33%;
                cursor: pointer;
            }
        }
    }
}

// text box
:root {
    --form-control-color: rebeccapurple;
    --form-control-disabled: #959495;
  }

  
  .form-control + .form-control {
    margin-top: 1em;
  }
  
  .form-control--disabled {
    color: var(--form-control-disabled);
    cursor: not-allowed;
  }

  .form-control {
    font-family: system-ui, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
    margin: 5px;


    input[type="checkbox"] {
        /* Add if not using autoprefixer */
        -webkit-appearance: none;
        /* Remove most all native input styles */
        appearance: none;
        /* For iOS < 15 */
        background-color: rgb(249, 241, 252);
        /* Not removed via appearance */
        margin: 0;
      
        font: inherit;
        color: currentColor;
        width: 1.15em;
        height: 1.15em;
        border: 2.3px solid currentColor;
        border-radius: 0.15em;
        transform: translateY(-0.075em);
        cursor: pointer;
        display: grid;
        place-content: center;
      }
      
      input[type="checkbox"]::before {
        content: "";
        width: 0.65em;
        height: 0.65em;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
        transform: scale(0);
        transform-origin: bottom left;
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em var(--form-control-color);
        /* Windows High Contrast Mode */
        background-color: rgb(199, 117, 241);
      }
      
      input[type="checkbox"]:checked::before {
        transform: scale(1);
      }
      
      input[type="checkbox"]:focus {
        outline: max(2px, 0.15em) solid currentColor;
        outline-offset: max(2px, 0.15em);
      }
      
      input[type="checkbox"]:disabled {
        --form-control-color: var(--form-control-disabled);
      
        color: var(--form-control-disabled);
        cursor: not-allowed;
      }
  }
  
  

// 

// module

.btnModal {
    font-size: 19px;
    width: 110px;
    padding-top: 3px;
    padding-bottom: 7px;

    background-color: rgb(191, 191, 191);
    border-radius: 10px;
    text-transform: capitalize;
    // font-weight: 600;

    &:hover {
        opacity: 0.7;
    }

    &.del {
        background-color: rgb(252, 131, 131);

    }

    &.yes {
        background-color: rgb(57, 159, 57);
        color: #fff;
    }
    &.no {
        background-color: rgb(162, 87, 87);
    }

    &.line {
        background-color: transparent;
        border-bottom: 2px solid #333;
        border-radius: 0;

    }

}

.btnModal+.btnModal {
    margin-left: 10px;
}

.quantity_size {
    position: relative;
    // display: inline-block;
    
    span {
        display: inline-block;
        margin-right: 10px;
        background-color: #4a4a4a;
        color: #fff;
        padding: 3px 4px;
        border-radius: 5px;
        width: 50px;
        text-align: center;
    }

    input {
        width: 100px;
    }

    &+& {
        margin-top: 10px;
    }

    .addQuantity {
        position: absolute;
        right: 5px;

        font-size: 18px;
        font-weight: 600;
        color: #333;
        background-color: transparent;
        &:hover {
            transform: scale(1.3);
        }
    }
}

.modalQuantity_size {
    display: inline-block;
    background-color: #525151;
    color: #fff;
    padding: 2px 9px;
    border-radius: 5px;
}

// modale update
.wrapper_modal_update {
    display: flex;
    // justify-content: space-around;
    // padding: 0 100px;
    // justify-content: center;
    width: 70%;
    margin: auto;
    margin-top: 20px;

    .modal_update__leftSide {
        margin-right: 30px;
        width: 50%;
    }

    .modal_update__rightSide {
        flex: 1;

    }
}

.img_update {
    position: relative;
    max-width: 100%;
    // height: 400px;
    // height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    // btn update img
    label {
        position: absolute;
        top: 13px;
        right: 18px;
        cursor: pointer;
        font-size: 30px;

        input {
            display: none;
        }

        &:hover {
            opacity: 0.7;
        }
    }


    img {
        width: 70%;
        width: 70%;

       
        object-fit: cover;
    }
}

.container_imgSub_update {
    display: inline-block;
}

.imgsSub_update_modal {
    position: relative;
    width: 100px;
    height: 100px;
    object-fit: cover;
    display: inline-block;
    margin-top: 10px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    button {
        position: absolute;
        font-size: 14px;
        top: 5px;
        right: 2px;
        padding: 0px 6px;
        background-color: #333;
        outline: 2px solid #fff;
        color: #fff;
        border-radius: 50%;

        &:hover {
            opacity: 0.8;
        }
        &:active {
            opacity: 0.6;
        }
    }
}

.search_bar {
    display: flex;
    align-items: end;
    margin-bottom: 20px;

    label {
        text-transform: capitalize;
        font-weight: 600;
        margin-bottom: 5px;
    }
}

.search_brand {
    padding: 10px 10px;
    border-radius: 10px;
    border: 2px solid #333;
    font-size: 20px;
    width: 100%;    
    text-transform: capitalize;
} 

.search_product_byID {
    position: relative;
    margin-right: 10px;

    div {
        border: 2px solid #333;
        height: 47px;

        overflow: hidden;
    }
    
    input {
        font-size: 20px;
        padding: 5px 10px;
    }

    button {
        display: inline-block;
        font-size: 17px;
        font-weight: 600;
        width: 40px;
        height: 100%;
        background-color: rgb(108, 108, 108);
        color:#fff;

        &:hover {
            background-color: rgb(188, 134, 120);
        }
        &:active {
            opacity: 0.8;
        }
    }

    .error_message {
        position: absolute;
        top: 0;
        right: 0;
        color: rgb(255, 97, 97);
    }

    .input_search {
        display: flex;
        input {
            flex: 1;
        }
    }

    
}

.btn_showInfor_upd {
    font-size: 16px;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    text-transform: uppercase;
}

.itemUpdInventory_input {
    display: inline-block;

    margin-right: 5px;
}

.list_product {
    // overflow-x: scroll;
}

.input_quantity {
    border-bottom: 1px solid #333;
    margin-left: 10px;
}

.addAtribute_btn {
    cursor: pointer;
    color: rgb(89, 150, 89);
    font-size: 20px;
    margin-left: 10px;
    &:hover {
        transform: scale(1.3);
    }
}


.modify_attrib {
    // min-height: 400px;
    height: 470px;
    overflow-y: scroll;

    .navigate_attribProd {
        display: flex;
        justify-content: center;
        margin-top: 5px;
        margin-bottom: 15px; 

        li {
            cursor: pointer;
            width: 130px;
            font-weight: 600;
            color: #464545;
            letter-spacing: 1px;
            border-bottom: 3px solid;
            border-color: transparent;
            text-align: center;

            &.active {
                border-color: rgb(245, 127, 48);
            }
        }
    
        
    }
}

.category_SelectInTypes {
    border-radius: 10px;
    background-color: #f0f0ef;
    padding: 1px;
}

.input_add {
    font-size: 20px;
    color: #585656;

}

.atrib_add_btn, .atrib_del_btn {
    font-size: 20px;
    font-weight: 800;
    line-height: 1;
    padding: 3px;
    background-color: transparent;

    &:hover {
        transition: 0.1s;
        transform: scale(1.4);
    }
    &:active {
        transform: scale(1.2);
        opacity: 0.7;
    }
}

.atrib_add_btn {
    color: rgb(69, 144, 50);
}

.atrib_del_btn {
    color: rgb(208, 93, 93);

}


// pagination
.not_found {
    font-size: 30px;
    color: #5e5d5d;
    text-transform: uppercase;
    margin: 50px 0;
}
.pagination {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.pagination_container {
    display: inline-block;

    .page_number {
        display: inline-block;
        width: 38px;
        padding: 3px 0;
        text-align: center;
        font-size: 23px;
        // background-color: rgb(190, 157, 202);
        margin: 7px;
        border-radius: 12px;
        font-weight: 500;
        font-family: 'kanit';
        -ms-user-select: none;
        user-select: none;

        &:hover {
            // background-color: #f3c8e5;
            cursor: pointer;
            transform: scale(1.3);
        }
        
    }

    .active {
        color: rgb(255, 255, 255);
        background-color: #a38a9b;
    }
}

.direction_Page {
    margin: 0 10px;
    font-size: 20px;
    padding: 0 5px;
    cursor: pointer;    
    &:hover {
        color: #da7fb2;
        transform: scale(1.4);
    }
}


.tabel_product {
    overflow-x: scroll;
    table {

        tr {
            border-bottom:4px solid #e8e5e5;
        }

    }

}


.body_modifyDiscount {
    text-align: center;

        
    .option_discount {
        display: flex;
        justify-content: space-evenly;
        button {
            padding: 6px 0;
            background-color: #e1e0e0;
            width: 45%;
            border-radius: 10px;
            font-weight: 600;
            letter-spacing: 1px;
        }

        .option_active {
            background-color: rgb(237, 207, 229);
        }
        
    }

    .select_ModifyDiscount {
        width: 50%;
        margin-top: 20px;
        padding: 10px;
        border-radius: 20px;
        font-size: 20px;
    }



}





// tablet
@media only screen and (min-width: 46.25em) and (max-width: 78.25em){
    
    .wrapper {
        margin: 50px 30px;
        // margin: 0;

        

    }

    .left_side {
        width: 70%;
    }

    .right_side {
        margin-left: 0;
        
    }

   

   

}

// mobile
@media only screen and (max-width:46.1875em){
    
    .wrapper {
        // margin: 50px 30px;
        margin: 50px 17px;
        display: block;
        
        
        
        &.add_product {
            display: flex;
            flex-direction: column;
        }
    }

    .left_side {
        width: 100%;
        margin: auto;
    }

    .right_side {
        margin-left: 0;
        margin-top: 20px;
    }

    .product_img {
        height: 300px;
    }

    .button-54 {
        width: 100%;
    }

    
    

    // modify product
    .wrapper_modal_update {
        flex-direction: column;
        width: 88%;
        .modal_update__leftSide {
            width: 100%;
            margin-bottom: 20px;
        }
    }

    .search_bar {
        flex-direction: column;
        align-items: baseline;

        & .option {
            margin-top: 10px;
            width: 100%;
            margin-left: 0;
        }

        


    }


   
}