.wrapper {
    height: 90px;
    position: fixed;
    z-index: 100;
    width: 100%;
    box-shadow: 0 0 16px rgb(167 167 167 / 70%);
    // margin-bottom: 20px;
    background-color: #f1f1efe9;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    margin-top: -58px;
    // height: 56px;
   
}


.above {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;


}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // font-family: kanit;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

ul {

    li {
        position: relative;
    }
}

#header{
        height: 56px;
        width: 100%;
        position: fixed;
        top:0;
        left:0;
        right:0;
        z-index: 1;

        
        
}

.menubarAndSearMB_btn {
    display: none;

}


.show_bar_btn {
    font-size: 29px;
    color: #333;
    padding: 5px;
    margin-left: 10px;

    &:hover {
        opacity: 0.8;
    }
    &:active {
        opacity: 0.6;
    }
}

.close_bar_btn {
    display: none;
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 29px;
    color: #333;
    background-color: transparent;
    color: #fff;
    z-index: 1;

    &:hover {
        opacity: 0.8;
    }
    &:active {
        opacity: 0.6;
    }
    
}



#nav-menu li{
    display: inline-block;
    list-style-type: none;
    position: relative;
    padding: 0 32px;
    
}

#nav-menu .menu a{
    line-height: 56px;
    // padding: 0 32px;
    text-decoration: none;
    display:block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;

    &:hover {
        color: rgb(245, 152, 38);
    }
}

.sub_nav_prod {
    display: none;
    li {
        color: #fff;
        
        
    }

    li:hover, a:hover {
        background-color: #ffffff;
        color: #333;
    }
}

#nav-menu .menu a:hover{
    // background-color: rgb(121, 120, 120);
}

#nav-menu .menu:hover{
    // background-color: rgb(121, 120, 120);
    
}

.nav_dropdown {
    li:hover {
        
    }
}

.border{
    border-left: 1px solid;
}

    
// }
.logo{
    width: 37px;
}

.box_logo{
    width: 283px;
    padding-left: 30px;
    box-sizing: border-box;
    object-fit: cover;

    .logo_title {
        margin-left: 10px;
        font-size: 20px;
        letter-spacing: 2px;
        font-weight: 600;

        .L_1 {
            color: rgb(223, 95, 70)
        }
        .L_2 {
            color: rgb(80, 161, 140)
        }
        .L_3 {
            color: rgb(127, 131, 251)
        }
        .L_4 {
            color: rgb(103, 103, 99)
        }
    }
}

.padding{
    padding-left: 20px;
}

.search-input{
    font-size: 15px;
    background-color: #d5d4d4;
    padding: 8px 12px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

    border:none;
    cursor:auto;
    outline: none;
    width: 120px;
}

.search_btn {
    background-color: #333;
    color: #fff;
    padding: 7.25px 10px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

    &:hover {
        background-color: #fefefe;
        color:#333
    }
    &:active {
        opacity: 0.7;
    }

}

.iocn-user{
    
    background-color: #ccc;
    border: none;
    
}

.padding-right{
    padding-right: 8px;
}

.search-label{
    cursor: pointer;
    font-size: 20px;
    
    
}
.user, .bag{
    margin-right:12px;
    border: none;
    background-color: #fff;
    cursor: pointer;
    font-size: 20px;
}

.user:hover, .bag:hover, .search-label:hover{
    opacity: 0.6;
}

.input-search{
    padding-left:10px ;
}

#slider{
    
}
#content{
    height:600px;
}
.ti-search{
    line-height: 56px;
}
#footer{
    height:400px;
    background-color: black;
}

#footer .member{
    color:#ccc;
    font-size:20px;
}

#footer .Heading-Members{
    padding-top: 36px;
    text-align: center;
    color: #fff;
    font-size: 57px;
    cursor: default;
}
.members{
    margin-top: 35px;
    margin-bottom: 35px;
}
.memberlist{
    text-align: center;
    color: #fff;
    padding-top:12px;
    font-size: 20px;
}
.memberlist:hover{
    font-size:30px;
    color: #ccc;
    cursor: pointer;
    opacity: 1.6;
    padding-bottom: 12px;

}

.search_btn_mb {
    margin: auto 0;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
    margin-left: 25px;
    margin-top: 10px;


    &:hover {
        color: #fa5d6f;
    }
}



.shape_Tippy {
    background-color: #fff;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    border-radius: 10px;
    padding: 10px 0px;

}

.wapper_notify {
    width: 360px;
    height: 450px;
    
  
    .notify_item+.notify_item {
        border-top: 0.7px solid #d6d3d3;

    }

    .notify_item {
        padding: 15px;

        &>div {
            display:flex;
            justify-content: space-between;
            p {
                font-size: 14px;
            }
        }

        h3 {
            text-transform: capitalize;
            color: #626161;
            font-weight: 700;
        }
        p {
            color:#646464
        }

        &:hover {
            background-color: #e2e1e1;
        }
    }
}

.menu_avatar {
    // box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width: 170px;
    font-size: 17px;

 

    ul {

        li {
            padding: 6px 15px;

            &:hover {
                background-color: #bcbaba;
                cursor: pointer;
            }
        }
    }

    .logout_icon {
        margin-left: 20px;
    }
}


// CART

#nav {
    margin-right: 3%;
}
.login {
    position: relative;
   
}



#nav >li:hover >a{
    color: var(--text-color-hover);
}


#nav > li{
    display: inline-block;
    padding-right: 15px;
}

#nav .the_first{
    display: none;
    background-color: #fff;
    position: absolute;
    width: 200px;
    height: auto;
    top: 100%;
    right: -79%;
    box-shadow: 0 0 10px rgba(0,0,0, 0.3);
    z-index: 9;
    

}

#nav .the_first li:hover {
    background-color: #ccc;
    color: var(--text-color-hover);
    
}

#nav .the_first li:hover a{
    color: var(--text-color-hover);
}

#nav .sub_nav li{
    display: block; 
}




.the_first li {
    line-height: 37.8px;
    padding: 0 10px;
}
#nav li:hover .the_first {
    display: block;
    
}

.btn_header {
    font-size: 20px;
    color: #4b4a4a;
    // color: red;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
    &:active {
        opacity: 0.9;
    }
}

.cart_btn {
    position: relative;
    &:hover .header_cart-wrap::before {
        display: block;
    }
}

.notify_btn {

    &:hover {
        animation: shake 500ms ease-in;
    }
}

@keyframes shake {
    0% {rotate: 0deg}
    30% {rotate: 25deg}
    60% {rotate: -25deg}
    0% {rotate: 0deg}

}

.header_cart-wrap::before {
    display: none;
    cursor: pointer;
    content: "";
    position: absolute;
    right: 4px;
    top: 16px;
    border-width: 15px 19px;
    border-style: solid;
    border-bottom: 25px solid #efefef;
    border-color: transparent transparent var(--white-color) transparent;
    color: #ddd;
    z-index: 11;
    font-weight: 500;
}



.cart_btn::after{
    content: "";
    position: absolute;
    top: 21px;
    right: 0;
    width: 51px;
    height: 29px;
    background-color: transparent;
    
    // background-color: red 
}




.header_cart-list{
    position: absolute;
    top: calc(100% + 19px);
    right: 0px;
    background-color: #fff;
    width: 300px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125em 0 rgba(0,0,0, 0.2);
    display: none;
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    max-height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
    min-width: 316px;
    z-index: 10;
    border-radius: 10px;
    
}

.header_cart-list::-webkit-scrollbar{
    width: 12px;
}

li.cart_btn:hover > div.header_cart-wrap>.header_cart{
    color: var(--text-color-hover);
    
    
}

.cart_btn:hover .header_cart-list {
    display: block;
}

// .cart_btn:hover .cart_btn::before {
//     display: block;
// }




.header_cart-list--no-cart{
    padding:24px 0;
}

.header_cart-list--no-cart .header_cart-no-cart-img,
.header_cart-list--no-cart .header_cart-list-no-cart-msg{
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.header_cart-no-cart-img{
    display: none;
    width: 54%;
    /* display: block; */
    
    /* bottom: 0;
    transform: translateX(-50%) ; */
}

.header_cart-list-no-cart-msg{
    // display: none;
    text-align: center;
    font-size: 1.8rem;
    margin-top: 14px;
    margin-bottom: 24px;

    
}

.header_cart-notice{
    width: 13px;
    height: 13px;
    position: absolute;
    // padding: 0px 7px;
    background-color: #fa5d6f;
    font-size: 0.9rem;
    color: var(--white-color);
    border-radius: 50%;
    top: -6px;
    right: 6px;
    font-size: 14px;
}

.header_cart_quantity {
    position: absolute;
    background-color: #fa5d6f;
    font-size: 0.9rem;
    color: var(--white-color);
    border-radius: 50%;
    top: -10px;
    right: 4px;
    font-size: 14px; 
    width: 19px;
    height: 19px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header_cart-list-item{
    padding: 10px;
    list-style: none;
}


.header_cart-item{
    display: flex;
    padding: 10px 0 20px 0;
    border-bottom: 1px solid #ccc;
    position: relative;

}

.header_cart-img{
    width: 88px;
    object-fit: contain;
}

.header_cart-item-name{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 40%;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    padding-top: 10px;
    
}

.header_cart-item-infor{
    /* position: relative; */
    padding-left: 10px;

    
}


.header_cart-icon-close{
    position: absolute;
    right: 0;
    top: 12px;
    font-size: 20px;
    font-weight: 600;
    padding: 4px;
    cursor: pointer;
}

.header_cart-icon-close_2{
    position: absolute;
    right: 0;
    top: 12px;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 4px;
}

.header_cart-icon-close_3{
    position: absolute;
    right: 0;
    top: 12px;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 4px;
}

.header_cart-item-price{
    display: block;
    margin-bottom: 8px;
}


.wrapper_quantity {
    height: 22px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;
    /* border-radius: 12px; */
    /* margin-top: 5px; */
    border: 1.5px solid black;
}

.nav_dropdown {
    position: relative;
}

// 

.nav_mobile {
    display: none;
}

// tablet
@media only screen and (min-width: 46.25em) and (max-width: 78.25em){
    .wrapper {
        top: 58px;


        #nav-menu li{
            padding: 0 15px;
            
        }
    }

    .box_logo {
        max-width: 160px;
    }

    .logo_title {
        display: none;
    }




    // #nav {
    //     margin-right: 40px;
    // }

}

// mobile
@media only screen and (max-width:46.1875em){
    .wrapper {
        #nav-menu li{
            padding: 0 10px;
            
        }



       #nav li {
        font-size: 17px;
        padding-right: 8px;

       }
       #nav-menu li a {
        font-size: 14px;
       }

    //    #nav > li{
    //     display: inline-block;
    //     padding-right: 15px;
    //     }
    }

    .close_bar_btn {
        display: inline-block;
    }

    .box_logo {
        display: none;
        width: 0;
        img, span {
            display: none;
        }
    }

    
   

    .show_bar {
        display: block;
        background-color: #363535f9;
        position: absolute;
        top: 56px;
        height: 100vh;
    }


    .menubarAndSearMB_btn  {
        display: block;
    }

    .sub_nav_prod {
        display: block;
    }

    .nav_desktop {
        display: none;
        
    }
    .nav_mobile {
        font-size: 17px;
        color: #424141;
        display: inline-block;
    }
}

.category {
    display: flex;
    position: relative;
    height: 32px;
    
    .category_items {
        margin-left: 285px;
        width: 100%;
        
        padding: 0 33px;

        .icon_menu {
           display: none;
        }
    }

    .category_button {
        position: relative;
        width: 120px;
        height: 30px;
        text-align: left;
        padding-right: 1em;
        margin-right: 12px;
    
        &:hover {
                color:  rgb(245, 152, 38);
                border-bottom: 1px solid  rgb(245, 152, 38);;
                transition: .1s ease-in-out;
                .category_menu {
                    
                    display: block;
                    color: black;
                    
                }
        }

     .category_item_button {
        cursor: pointer;
        width: 100%;
        text-align: left;
        
        &:hover {
            color: rgb(245, 152, 38);
        }
     }
    }

    .category_menu {
        position: absolute;
        top:32px;
        
        display: none;
        padding: 16px 16px;
        min-width: 250px;
        max-width: 400px;
        
       
        cursor: default;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

        .category_list {
            display: flex !important;
            width: 100%;
            // max-height: 100px;
    
           
        }
    }
  }

  .block_clothes {
    display: flex;
    width: 100%;
    height: 100%;

    ul {
        list-style: none;
        padding-left: 0;
        width: 50%;
        text-align: left;
        z-index: 101;
    }
}

  .block_clothes_ao {
    width: 50%;
    
    .block_clothes_ao_list {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
  }

  .block_clothes_quan {
    width: 50%;
  }

  .category_button::before {
    content: "";
    position: absolute;
    height: 25px;
    width: 100px;
    top: 20px;
    left: -5px;
    bottom: 70px;
  }

  .block_clothes_header {
    width: 80%;
    border-bottom: 2px solid #000;
  }

  .link_btn_view_all {
    font-size: 18px;
    font-weight: bold;
    &:hover {
        color: rgb(245, 152, 38);
    }
  }
  .btn_exit {
    display: none!important;
  }


  .menu_mobile {
    display: none;
  }
//tablet
  @media only screen and (min-width: 46.25em) and (max-width: 78.25em){
    .category_items {
        margin-left: 140px !important;

    .category_button {
        width: 100px;
    }
    
   
    }}
//mobile
    @media only screen and (max-width:46.1875em){
        .category_list {
            display: none;
        }
        .icon_menu {
            display: block !important;
            height: 30px;
            width:  38px;
            position: relative;
            color: black;
            background-color: transparent;
            border-radius: 5px;
            
         
         
         }
         .category_items {
            margin-left: 0 !important;
            padding: 0 12px !important;
         }

         .category_button {
            display: none;
         }

         .menu_mobile {
            display: flex;
            flex-direction: column;
           position: absolute;
           top: -10px;
           left: 0;
            width: 100%;
            height: 800px;
            background-color: white;
            color: white;
            border-radius: 5px; 
            margin-bottom: 8px;
            

            .wrapper_btn_exit {
                width: 100%;
                height: 50px;
            }

            .btn_exit {
                display: block !important;
                position: absolute;
                padding: 4px 0;
                right: 0;
                height: 32px;
                width: 32px;
                
                .icon_exit {
                    height: 32px;
                    width: 32px;
                }
            }
         }
        
        .group_btn_category {
            width: 100%;
            justify-content: space-evenly;
            padding: 0 6px;
        }

         .btn_category {
            width: 65px;
            position: relative;
            &:hover {
                color:  rgb(245, 152, 38);
            }
         }
         .btn_type {
            display: block;
         }
         .list_category {
            text-align: center;
            top:80px;
            left: 0;
            background-color: white;
            width: 100%;
            min-height: 300px;
            padding-left: 10px;
            margin-top: 16px;
         }
      
        .header {
            font-weight: 600;
            border-bottom: 2px solid #ccc;
            padding: 2px 4px;
        }

        .quanao_div {
            display: flex;
            justify-content: center;
            position: absolute;
            left: 0;
            top:80px;
            background-color: white;
            width: 100%;
            // height: 400px;
            margin-top: 16px;
            
            ul {
                width: 100%;
                margin-left: 10px;
            }
        }

        .view_all_quanao {
            text-align: center;
            padding-right: 20px;
            font-weight: 700;
            padding-right: 0;

            
               
            
        }

        .view_all_phukien {
            font-weight: 700;
        }

        .btn_link {
            &:hover {
                color: rgb(245, 152, 38);
            }
        }
        .wrapper_btn_category {
            display: flex;
            width: 100%;
            justify-content: space-evenly;
        }
        }